/*

Styling the counter itself.
Set image paths accordingly.

*/

.flip-display
  ul.cd
    float left
    list-style-type none
    margin 0
    padding-left 1px
    
  li
    background-image: url(/images/chars_19.png)
    background-position 0 0
    no-repeat
  
  li.t
      background-position 0 0
      width 19px
      height 12px
  li.b
      background-position 0 0
      width 19px
      height 12px

